In [1]:
# import sys, os
# os.chdir(os.getcwd())

In [2]:
from x__params import *
# from x__hive import *

storage dir: /Users/minkexiu/Downloads/GitHub/RWF_task1/data/2025Q3/20250727_股票和基金/1-sample
code dir: /Users/minkexiu/Documents/GitHub/RWF_task1/code/2025Q3/20250727_股票和基金/1-sample
27 18 11
先天八卦数: 1乾, 2兑, 3离, 4震, 5巽, 6坎, 7艮, 8坤
本卦上：3 本卦下：2 变爻：5

    火泽睽 水火既济  天泽履
上卦  ☲离火  ☵坎水  ☰乾金
下卦  ☱兑金  ☲离火  ☱兑金

06 03 10 酉时
先天八卦数: 1乾, 2兑, 3离, 4震, 5巽, 6坎, 7艮, 8坤
本卦上：6 本卦下：3 变爻：4

   水火既济 火水未济  泽火革
上卦  ☵坎水  ☲离火  ☱兑金
下卦  ☲离火  ☵坎水  ☲离火

In [3]:
import akshare as ak

In [4]:
stock_code = "600519"

In [7]:
df = ak.stock_zh_a_hist(symbol=stock_code, period="daily")
df = df.rename(columns={
    '日期': 'date', '开盘': 'open', '收盘': 'close', '最高': 'high', '最低': 'low',
    '成交量': 'volume', '成交额': 'amount', '涨跌幅': 'pct_chg', '换手率': 'turnover_rate'
})

In [8]:
df

,date,股票代码,open,close,high,low,volume,amount,振幅,pct_chg,涨跌额,turnover_rate
0,2001-08-27,600519,34.51,35.55,37.78,32.85,406318,1.410347e+09,15.71,13.25,4.16,56.83
1,2001-08-28,600519,34.99,36.86,37.00,34.61,129647,4.634630e+08,6.72,3.68,1.31,18.13
2,2001-08-29,600519,36.98,36.38,37.00,36.10,53252,1.946890e+08,2.44,-1.30,-0.48,7.45
3,2001-08-30,600519,36.28,37.10,37.51,36.00,48013,1.775580e+08,4.15,1.98,0.72,6.72
4,2001-08-31,600519,37.15,37.01,37.62,36.80,23231,8.623100e+07,2.21,-0.24,-0.09,3.25
...,...,...,...,...,...,...,...,...,...,...,...,...
5722,2025-07-21,600519,1436.99,1443.00,1446.80,1435.00,26203,3.779892e+09,0.82,0.42,6.00,0.21
5723,2025-07-22,600519,1444.00,1464.98,1466.60,1440.68,42119,6.127637e+09,1.80,1.52,21.98,0.34
5724,2025-07-23,600519,1469.00,1475.50,1495.00,1468.95,45045,6.676301e+09,1.78,0.72,10.52,0.36
5725,2025-07-24,600519,1476.00,1491.50,1499.00,1475.00,38804,5.786337e+09,1.63,1.08,16.00,0.31
5726,2025-07-25,600519,1491.40,1455.00,1491.40,1453.00,41911,6.140079e+09,2.57,-2.45,-36.50,0.33

In [9]:
print(f"获取股票{stock_code}数据，共{len(df)}条记录")

获取股票600519数据，共5727条记录

In [10]:
store_data_to_newbasepath_csv(
    df, 
    "df-600519_to20250725"
)

data shape: (5727, 12)
df.to_csv("/Users/minkexiu/Downloads/GitHub/RWF_task1/data/2025Q3/20250727_股票和基金/1-sample/preprocessedData/df-600519_to20250725.csv", index=False)
data saved.

'/Users/minkexiu/Downloads/GitHub/RWF_task1/data/2025Q3/20250727_股票和基金/1-sample/preprocessedData/df-600519_to20250725.csv'